<template>
  <div class="container">
    <b-row>
      <b-col>
        <h1>Dashboard</h1>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        Cognome
        <b-form-input v-model="surname" placeholder="Cognome" @change="onSurnameChange"></b-form-input>
      </b-col>
      <b-col>
        Nome
        <b-form-input v-model="name" placeholder="Name" @change="onNameChange"></b-form-input>
      </b-col>
      <b-col>
        Email
        <b-form-input v-model="email" placeholder="email" @change="onEmailChange"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        Start Date
        <b-form-input
          type="date"
          v-model="startDate"
          placeholder="Data di inizio"
          @change="onStartDateChange"
        ></b-form-input>
      </b-col>
      <b-col>
        End Date
        <b-form-input
          type="date"
          v-model="endDate"
          placeholder="Data di fine"
          @change="onEndDateChange"
        ></b-form-input>
      </b-col>
      <b-col>
        numero risultati:
        <b-form-select
          v-model="pageSize.selected"
          :options="pageSize.options"
          @change="onPageSizeChange"
        ></b-form-select>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <p>Premere invio per iniziare la ricerca</p>
      </b-col>
    </b-row>
    <b-row>
      <b-col v-if="loading">Caricamento...</b-col>
      <b-col v-else>
        <div v-if="bookingList.data.length === 0">
          <p>Non ci sono prenotazioni.</p>
        </div>

        <div v-for="booking in bookingList.data" :key="booking.date">
          <h2>{{booking.date}}</h2>
          <div v-if="booking.bookings.length > 0">
            <b-table striped hover :items="booking.bookings" :fields="fields">
              <pre slot="hour_chart" slot-scope="col" v-html="col.item.hour_chart"></pre>
              <template slot="whole_room" slot-scope="data">
                {{ data.value === 1 ? 'Si' : ''}}
              </template>
            </b-table>
          </div>
          <p v-else>Nessuna prenotazione per questo giorno.</p>
        </div>
        <b-pagination
          v-model="bookingList.current_page"
          :total-rows="bookingList.total"
          :per-page="bookingList.per_page"
          aria-controls="my-table"
          align="center"
          @change="goToPage"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { getDateFromYYYMMDD } from "../utils";
import { conf } from "../main";

const prepareHourChart = booking => {
  if (!conf || !booking) return;
  booking.hour_chart = "| ";
  const totalHours = +conf.closing_time - +conf.opening_time;
  for (let i = 0; i < totalHours; i++) {
    if (
      +conf.opening_time + i >= +booking.start_hour &&
      +conf.opening_time + i < +booking.start_hour + +booking.num_of_hours
    ) {
      booking.hour_chart = booking.hour_chart + `${+conf.opening_time + i} `;
    } else {
      booking.hour_chart = booking.hour_chart + "   ";
    }

    booking.hour_chart = booking.hour_chart + "| ";
  }

  return booking;
};

const organizeBookingsPerDay = (acc, booking) => {
  if (!booking) return;
  let day = acc.find(value => value.date === booking.start_date);
  if (!day) {
    day = {
      date: booking.start_date,
      dateObj: getDateFromYYYMMDD(booking.start_date),
      bookings: []
    };
    acc.push(day);
  }
  day.bookings.push(booking);
  day.bookings.sort((a,b) => Number(a.start_hour) - Number(b.start_hour))
  return acc;
};

export default {
  data() {
    return {
      fields: [
        "hour_chart",
        { key: 'whole_room', label: 'Sala intera' },
        "surname",
        "name",
        "email",
        "status"
      ],
      loading: true,
      pageSize: {
        options: [10, 20, 50],
        selected: 10
      },
      name: "",
      surname: "",
      email: "",
      startDate: "",
      endDate: "",
      bookingList: {
        data: [],
        first_page_url: "",
        from: 0,
        last_page: 0,
        last_page_url: "",
        next_page_url: "",
        path: "",
        per_page: 0,
        prev_page_url: "",
        to: 0,
        total: 0,
        current_page: 1
      }
    };
  },
  methods: {
    async getPayments({
      page = this.bookingList.current_page,
      page_size = this.pageSize.selected,
      name = this.name,
      surname = this.surname,
      email = this.email,
      start_date = this.startDate,
      end_date = this.endDate
    } = {}) {
      this.bookingList.currentPage = page;
      this.pageSize.selected = page_size;
      this.name = name;
      this.surname = surname;
      this.email = email;
      this.startDate = start_date;
      this.endDate = end_date;

      this.loading = true;
      let url = `${
        process.env.VUE_APP_HOST
      }/api/payments?page=${page}&page_size=${page_size}&name=${name}&surname=${surname}&email=${email}`;

      url = start_date ? url + `&start_date=${start_date}` : url;
      url = end_date ? url + `&end_date=${end_date}` : url;

      const fetchResult = await fetch(url);
      const result = await fetchResult.json();
      result.data = result.data
        .map(prepareHourChart)
        .reduce(organizeBookingsPerDay, [])
        .sort((a, b) => {
          return a.dateObj - b.dateObj;
        });
      this.bookingList = result;

      this.loading = false;
    },
    async goToPage(page) {
      this.bookingList.page = page;
      await this.getPayments({ page });
    },
    async onPageSizeChange(value) {
      await this.getPayments({ page_size: value });
    },
    async onSurnameChange(value) {
      await this.getPayments({ surname: value });
    },
    async onNameChange(value) {
      await this.getPayments({ name: value });
    },
    async onEmailChange(value) {
      await this.getPayments({ email: value });
    },
    async onStartDateChange(value) {
      console.log(value);
      await this.getPayments({ start_date: value });
    },
    async onEndDateChange(value) {
      console.log(value);
      await this.getPayments({ end_date: value });
    }
  },
  async created() {
    await this.getPayments();
  }
};
</script>

<style scoped>
pre {
  font-size: 10px;
}
</style>
