<template>
  <div class="hourSelection container">
    <div class="spinner-container" :style="{'display': isLoading ? 'flex' : 'none'}">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <b-row
      v-for="i in numberOfHours"
      :key="i"
      class="hour"
      :class="{
        selected: selectedHours.includes(startHour + i - 1),
        disabled: isDisabled(i)
        }"
      @click="tap(i)"
    >
      <b-col
        cols="7"
        offset="0"
        cols-sm="5"
        offset-sm="1"
        align-self="center"
      >{{startHour + i -1}}:00 - {{startHour + i}}:00</b-col>

      <b-col
        v-if="selectedHours.includes(getHourToAdd(i))"
        align-self="center"
      >{{selectedHoursPrices[getHourToAdd(i)]}} €</b-col>
      <b-col
        v-else-if="isAdjacentHour(getHourToAdd(i))"
        align-self="center"
      >{{adjacentPrices}} €</b-col>
      <b-col v-else align-self="center">{{prices[0]}} €</b-col>
    </b-row>
  </div>
</template>

<script>
import _ from "lodash";
import { getDateAsYYYYMMDD } from "../utils";
import { conf } from "../main";
export default {
  props: {
    startHour: {
      type: Number,
      default: 8
    },
    closingTime: {
      type: Number,
      default: 22
    },
    prices: {
      type: Array,
      default: () => [7, 6, 5, 4, 3, 2, 1]
    },
    selectedHour: {
      type: Number
    },
    hours: {
      type: Number
    },
    date: {
      type: String
    },
    bookingsForDay: {
      type: Object
    },
    typeOfBooking: {
      type: String
    },
    isLoading: {
      type: Boolean
    }
  },
  data() {
    return {
      selectedHours: [],
      selectedHoursPrices: {},
      today: new Date(),
      numberOfHours: this.closingTime - this.startHour
    };
  },
  computed: {
    numOfBookedHours() {
      return Math.max(this.selectedHours.length - 1, 0);
    },
    adjacentPrices() {
      return this.prices[this.numOfBookedHours + 1]
        ? this.prices[this.numOfBookedHours + 1]
        : this.prices[this.prices.length - 1];
    }
  },
  watch: {
    date: function(newDate, oldDate) {
      if (newDate !== oldDate) {
        this.selectedHours = [];
      }
    },
    typeOfBooking(newTypeOfBooking, oldTypeOfBooking) {
      if (newTypeOfBooking !== oldTypeOfBooking) {
        this.selectedHours = [];
      }
    }
  },
  methods: {
    recalculatePrice() {
      this.selectedHours.forEach((hours, i) => {
        this.selectedHoursPrices[hours] =
          i < this.prices.length
            ? this.prices[i]
            : this.prices[this.prices.length - 1];
      });
    },
    isAdjacentHour(hourToAdd) {
      return this.selectedHours.some(
        v => hourToAdd === v - 1 || hourToAdd === v + 1
      );
    },
    getHourToAdd(lineNumber) {
      return this.startHour + lineNumber - 1;
    },
    tap(lineNumber) {
      if (this.isDisabled(lineNumber)) return;
      const hourToAdd = this.getHourToAdd(lineNumber);

      if (!this.isAdjacentHour(hourToAdd)) {
        this.selectedHours = [];
      }
      if (this.selectedHours.includes(hourToAdd)) {
        this.selectedHours.splice(this.selectedHours.indexOf(hourToAdd));
        this.emitEvent();
        return;
      }
      this.selectedHours.push(hourToAdd);
      this.selectedHours.sort((a, b) => a >= b);
      this.emitEvent();
      this.recalculatePrice();
      return;
    },
    emitEvent() {
      this.$emit("hours-selected", {
        selectedHours: this.selectedHours,
        startHour: this.selectedHours[0],
        hours: this.selectedHours.length
      });
    },
    isToday() {
      if (this.date === getDateAsYYYYMMDD(this.today)) {
        return true;
      }
      return false;
    },
    isDisabled(lineNumber) {
      const hour = this.getHourToAdd(lineNumber);
      if (this.isLoading) return true;
      const inThePast =
        _.isEmpty(this.date) ||
        (this.isToday(this.date) && hour < this.today.getHours());

      let bookingsAvailable = true;
      if (_.isEmpty(this.bookingsForDay)) {
        return inThePast;
      }
      const bookedHour = this.bookingsForDay[`${hour}:00`];
      if (!bookedHour) {
        return inThePast;
      }

      if (this.typeOfBooking === "SINGLE_SEAT") {
        bookingsAvailable = bookedHour.available > 0;
      } else if (this.typeOfBooking === "WHOLE_ROOM") {
        bookingsAvailable =
          bookedHour.available === conf.max_booking_for_subscriber;
      }

      return inThePast || !bookingsAvailable;
    }
  }
};
</script>

<style scoped>
.hourSelection {
  margin-top: 24px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 438px;
}

.hourSelection.container {
  margin-left: 0;
  margin-right: 0;
}
.hour {
  height: 32px;
  color: rgba(0, 0, 0, 0.65);
}
.hour:hover {
  background-color: lightblue;
}

.hour.selected {
  background-color: #3276b1;
  color: white;
}
.hour.disabled {
  color: lightgrey;
}
.spinner-container {
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0; 
    right: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index:1;
}
</style>
