<template>
  <div>
    <p>Logging out...</p>
  </div>
</template>

<script>
export default {
created() {
    console.log('logging out...');
    this.$auth.logOut();
  }
};
</script>

<style>
</style>
