<template>
  <div>
    <b-row>
      <b-col md="12">
        <h1>Prenota una postazione</h1>
        <br />
      </b-col>
    </b-row>
    <b-row>
      <b-col md="6">
        <b-row>
          <b-col md="12">
            <h4>Seleziona la data</h4>
            <calendar
              :value="form.selectedDate"
              :on-day-click="dateSelected"
              :loading="hoursLoading"
            ></calendar>
          </b-col>
        </b-row>

        <b-row>
          <b-col sm="12" v-show="!isMobile() || step >= 2">
            <h4>Seleziona una fascia oraria</h4>
            <b-form-group>
              <b-form-radio-group
                id="radio-group-1"
                v-model="typeOfBooking.selected"
                :options="typeOfBooking.options"
                name="radio-options"
                buttons
                button-variant="outline-primary"
              ></b-form-radio-group>
            </b-form-group>
            <hour-selection
              :start-hour="defaultStartHour"
              :closing-time="defaultEndHour"
              :date="form.selectedDate"
              :bookings-for-day="bookingsForDay"
              :type-of-booking="typeOfBooking.selected"
              @hours-selected="onSelectedHours"
              :prices="prices"
              :is-loading="hoursLoading"
            ></hour-selection>
          </b-col>
        </b-row>
      </b-col>

      <b-col md="6" v-show="!isMobile() || step >= 3">
        <h4>Inserisci i tuoi dati personali</h4>
        <b-form-group label="Nome" label-for="nome">
          <b-form-input id="nome" type="text" v-model="form.nome" required></b-form-input>
        </b-form-group>
        <b-form-group label="Cognome" label-for="cognome">
          <b-form-input id="cognome" type="text" v-model="form.cognome" required></b-form-input>
        </b-form-group>
        <b-form-group label="Email:" label-for="email">
          <b-form-input
            id="email"
            type="email"
            v-model="form.email"
            required
            placeholder="Es. user@gmail.com"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Ti preghiamo di indicare i nominativi delle persone che riceverai in riunione, ed altre eventuali necessità:"
          label-for="note"
        >
          <b-form-textarea id="note" v-model="form.notes" placeholder="..." rows="4" max-rows="15"></b-form-textarea>
        </b-form-group>
        <b-form-group>
          <b-form-checkbox
            id="privacy-policy"
            v-model="privacyPolicy"
            name="privacyPolicy"
            :value="true"
            :unchecked-value="false"
          >
            Accetto
            <a
              target="_blank"
              href="https://binario1.coworkingsa.it/termini-condizioni/"
            >termini e condizioni</a> e la
            <a
              target="_blank"
              href="https://binario1.coworkingsa.it/privacy-policy/"
            >privacy policy</a>.
          </b-form-checkbox>
        </b-form-group>
        <p v-if="formCompleted">
          La tua prenotazione inizierà alle
          <strong>{{form.selectedHour}}:00</strong> del giorno
          <strong>{{form.selectedDate}}</strong>
          e terminerà alle
          <strong>{{endHour}}</strong>. Pagherai
          <strong>{{price}}€</strong>.
        </p>
        <b-button disabled v-if="!formCompleted">Completa tutti i campi per pagare..</b-button>
        <template v-else>
            <b-button variant="primary" v-if="!price" @click="payWithoutPaypal" :disabled="paymentInProgress">
              Prenota!
              <b-spinner v-if="paymentInProgress" label="Spinning"></b-spinner>
              </b-button>
          <div id="paypal-button" v-else></div>
        </template>
        <div class="message" v-if="message">{{message}}</div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import paypal from "paypal";
import {
  createSubscriber,
  getBookingsForDay,
  acceptBooking
} from "../payment/paymentService";
import { leftpad, validateEmail, getDateAsYYYYMMDD } from "../utils";
import MyCalendar from "./MyCalendar";
import HourSelection from "./HourSelection";
import { conf } from "../main";

export default {
  name: "Main",
  data() {
    return {
      form: {
        nome: "",
        cognome: "",
        email: "",
        selectedDate: "",
        selectedHour: null,
        hours: null,
        num_of_bookings: 1,
        whole_room: false,
        notes: ""
      },
      message: null,
      isPriceCalculated: true,
      price: null,
      timeout: null,
      step: 1,
      bookingsForDay: null,
      typeOfBooking: {
        selected: "SINGLE_SEAT",
        options: [
          { text: "postazione singola", value: "SINGLE_SEAT" },
          { text: "Sala riunioni", value: "WHOLE_ROOM" }
        ]
      },
      privacyPolicy: false,
      hoursLoading: false,
      paymentInProgress: false
    };
  },
  computed: {
    prices() {
      if (this.typeOfBooking.selected === "SINGLE_SEAT") {
        return conf.hourly_cost;
      } else return [conf.whole_room_cost];
    },
    defaultStartHour() {
      return conf ? +conf.opening_time : 7;
    },
    defaultEndHour() {
      return conf ? conf.closing_time : 21;
    },
    endHour() {
      const leftpadHour = leftpad(
        Number(this.form.selectedHour) + (Number(this.form.hours) % 24)
      );
      return `${leftpadHour}:00`;
    },
    formCompleted() {
      return (
        !!validateEmail(this.form.email) &&
        !!this.form.selectedDate &&
        !!this.form.selectedHour &&
        this.isPriceCalculated &&
        this.form.hours > 0 &&
        this.privacyPolicy
      );
    }
  },
  watch: {
    formCompleted: function(newFormCompleted) {
      this.removePaypalButton();
      if (!newFormCompleted) {
        this.message = "Compila tutti i campi";
        return;
      }
      setTimeout(() => {
        if (this.price > 0) {
          this.createPaypalButton({ price: this.price });
        }
        this.message = "";
      }, 100);
    }
  },
  methods: {
    isMobile() {
      if (window.screen.width < 768) {
        return true;
      }
      return false;
    },
    async dateSelected(date) {
      this.hoursLoading = true;
      this.form.selectedDate = getDateAsYYYYMMDD(date);
      this.setupHours();
      const bookingsForDay = await getBookingsForDay({
        day: this.form.selectedDate
      });
      this.bookingsForDay = bookingsForDay;
      this.step = 1;
      this.hoursLoading = false;
    },
    setupHours() {
      this.form.selectedHour = null;
      this.form.hours = null;
      this.selectedHours = null;
    },
    async onSelectedHours(hours) {
      if (!this.isPriceCalculated) {
        clearTimeout(this.timeout);
      }
      this.form.selectedHour = hours.startHour;
      this.form.hours = hours.hours;
      this.isPriceCalculated = false;
      this.step = 3;
      this.timeout = setTimeout(async () => {
        this.price = await this.calculatePrice(this.form.hours);
        console.log(`hours=${hours.hours} - price=${this.price}`);
      }, 666);
    },
    async calculatePrice(hours) {
      const fetchResult = await fetch(
        `${
          process.env.VUE_APP_HOST
        }/api/price?num_of_hours=${hours}&num_of_bookings=${
          this.form.num_of_bookings
        }&whole_room=${this.typeOfBooking.selected === "WHOLE_ROOM" ? 1 : 0}`
      );
      const result = await fetchResult.json();
      this.isPriceCalculated = true;
      return result.price;
    },
    removePaypalButton() {
      const button = this.$el.querySelector("#paypal-button");
      if (!button) return;
      while (button.firstChild) {
        button.removeChild(button.firstChild);
      }
    },
    createPaypalButton() {
      const form = this.form;
      const _this = this;
      paypal.Button.render(
        {
          env: process.env.VUE_APP_PAYPAL_ENV,
          // Set up the payment:
          // 1. Add a payment callback
          payment: async function(data, actions) {
            const subscriber = await createSubscriber({
              name: form.nome,
              surname: form.cognome,
              email: form.email,
              start_date: form.selectedDate,
              start_hour: form.selectedHour,
              num_of_hours: form.hours,
              whole_room: _this.typeOfBooking.selected === "WHOLE_ROOM",
              num_of_bookings: 1,
              note: form.notes
            });
            // 2. Make a request to your server
            return actions
              .request({
                method: "post",
                url: `${process.env.VUE_APP_HOST}/api/payments/payment`,
                json: {
                  subscriber_id: subscriber.id
                }
              })
              .then(function(res) {
                // 3. Return res.id from the response
                return res.payment_id;
              });
          },
          // Execute the payment:
          // 1. Add an onAuthorize callback
          onAuthorize: function(data, actions) {
            // 2. Make a request to your server
            return actions
              .request({
                method: "post",
                url: `${process.env.VUE_APP_HOST}/api/payments/execute`,
                json: {
                  payment_id: data.paymentID,
                  payer_id: data.payerID
                }
              })
              .then(res => {
                if (res.error) {
                  _this.$router.push({
                    name: "PaymentRejected"
                  });
                  return;
                }
                // 3. Show the buyer a confirmation message.
                if (res) {
                  res.code = res.code || "20041987";
                  _this.$router.push({
                    name: "PaymentAccepted",
                    params: { pinCode: res.code, form }
                  });
                }
              });
          },
          onError: function(err) {
            if (err) {
              _this.$router.push({
                name: "PaymentRejected"
              });
            }
          }
        },
        "#paypal-button"
      );
    },
    async payWithoutPaypal() {
      this.paymentInProgress = true;
      const subscriber = await createSubscriber({
        name: this.form.nome,
        surname: this.form.cognome,
        email: this.form.email,
        start_date: this.form.selectedDate,
        start_hour: this.form.selectedHour,
        num_of_hours: this.form.hours,
        whole_room: this.typeOfBooking.selected === "WHOLE_ROOM",
        num_of_bookings: 1,
        note: this.notes
      });
      await acceptBooking({subscriber_id: subscriber.id});
      const code = code || "20041987";
      this.$router.push({
        name: "PaymentAccepted",
        params: { pinCode: code, form: this.form }
      });
      this.paymentInProgress = false;
    }
  },
  components: {
    calendar: MyCalendar,
    hourSelection: HourSelection
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h4 {
  margin-top: 24px;
}
</style>
