<template>
  <div>
    <calendar
      :value="value"
      :disabled-days-of-week="[]"
      :clear-button="false"
      :placeholder="'Scegli una data'"
      :pane="1"
      :has-input="false"
      :on-day-click="onDayClick"
      :firstDayOfWeek="1"
      :on-draw-date="onDrawDate"
    ></calendar>
    <div :class="loading ? 'overlay' : ''"></div>
  </div>
</template>

<script>
import Calendar from "vue2-slot-calendar";
export default {
  props: {
    value: {
      type: String
    },
    onDayClick: {
      type: Function
    },
    loading: {
      type: Boolean
    }
  },
  methods: {
    onDrawDate(evt) {
      const now = new Date();
      if (
        evt.date < new Date(+now.getFullYear(), +now.getMonth(), +now.getDate())
      )
        evt.allowSelect = false;
    }
  },
  components: {
    calendar: Calendar
  }
};
</script>

<style scoped>
.center {
  width: max-content;
  margin: 0 auto;
}
.overlay {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  opacity: 0.5;
  display: block; 
  z-index: 1;
  background-color: white;
}
</style>
