<template>
  <div>
    <h1>Il pagamento non è andato a buon fine</h1>
    <p>Le preghiamo di riprovare utilizzando un account o una carta di credito diversa.</p>
  </div>
</template>
<script>
export default {};
</script>

<style>
</style>
