<template>
  <div>
    <div v-if="$route.params.pinCode">
      <div v-html="message"></div>
    </div>
    <div v-else>
      <h1>C'è stato un errore</h1>
      <p>Non dovresti vedere questa pagina.</p>
    </div>
  </div>
</template>
<script>
import { pagamentoAccettato } from '../utils';
export default {
  data () {
    return {
      pinCode: this.$route.params.pinCode,
      form: this.$route.params.form
    };
  },
  computed: {
    message () {
      return pagamentoAccettato(this.form, this.pinCode);
    }
  },
  mounted: function() {
    window.scrollBy(0, -150);
  }
};
</script>

<style>
</style>
