<template>
  <b-container>
    <div id="app">
      <router-view :conf="conf"/>
    </div>
  </b-container>
</template>

<script>
import { getDefaultData } from './payment/paymentService';
export default {
  name: "App",
  data() {
    return {
      conf: null
    };
  },
  async mounted() {
    this.conf = await getDefaultData();
  }
};
</script>
<style>
#app {
  margin: 80px 0;
  background-color: white;
  padding: 40px 32px;
  border-radius: 1%;
}
</style>
